<div class="comment">
  <strong><%= comment.user.username %></strong> said:
  <p><%= comment.content %></p>
  <% if user_signed_in? && current_user == comment.user %>
    <%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %> |
    <%= link_to 'Delete Comment', [comment.post, comment], method: :delete %>
  <% end %>
</div>