<%= form_with(model: comment, local: true, html: { class: "edit_comment", id: "edit_comment_#{comment.id}" }) do |form| %>
  <div class="field">
    <%= render 'layouts/ckeditor', form: form, field_name: :content %>
  </div>

  <div class="actions">
    <%= form.submit "Update" %>
    <%= link_to 'Cancel', '#', class: 'cancel-edit' %>
  </div>
<% end %>