.content {
  margin-top: 10px;
}

.content__new-post-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 130%;
  width: 200px;
  max-width: 100%;
  height: 60px;
  max-height: 100%;
  margin: 5px auto;
  background-color: #324982c3;
  text-align: center;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}

.content__new-post-button:hover {
  background-color: #31509fc3;
}

.content__new-post-button:active {
  background-color: #2148acc3;
}

.content__post-list .content-display {
  max-height: 200px;
  overflow: hidden;
}