.edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:70px auto;
  padding:40px;
  width:700px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.637);
}

.edit-profile-form h1 {
  color: #ffffff;
}

.edit-profile-form input[type="text"] {
  width: 100%;
  padding:15px;
  margin-bottom:10px;
  font:20px/1.25 'Alef';
}

.edit-profile-form #user_profile_intro {
  height: 150px;
  width: 100%;
  padding:15px;
  margin-bottom:10px;
  font:20px/1.25 'Alef';
}

.edit-profile-form form[enctype="multipart/form-data"] {
  width: 420px;
}

.actions .update-profile-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  width: 250px;
  background-color: #324982c3;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
}

.actions .update-profile-button:hover {
  background-color: #31509fc3;
}

.actions .update-profile-button:active {
  background-color: #2148acc3;
}

.sign-up-form .field_with_errors {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.edit-profile-form .field_with_errors input[type="text"] {
  background-color: rgba(255, 133, 133, 0.691);
}

.edit-profile-form #error_explanation {
  color: #ff6565;
}

#current-avatar-preview img {
  border-radius: 50%;
  margin-top: 30px;
}

#new-avatar-preview img {
  border-radius: 50%;
  margin-top: 30px;
}

.edit-profile-form label[for="user_profile_nickname"] {
  color: #ffffff;
}

.edit-profile-form label[for="user_profile_introduction"] {
  color: #ffffff;
}

.edit-profile-form label[for="user_profile_avatar"] {
  color: #ffffff;
}

.edit-profile-form label[for="user_profile_nickname"] {
  color: #ffffff;
}

#current-avatar-preview p {
  color: #ffffff;
}

.edit-profile-form input[type="file"] {
  color: #ffffff;
}