.footer-content {
  position: relative;
  width: 100vw;
  height: auto;
  padding: 1vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.codenyan-contents {
  display: flex;
  justify-content: space-between;
}

.codenyan-details {
  flex: 1;
}

.footer-content-head {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 5px;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom > p {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}