.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 5px;
  border-bottom: 1px solid #808080;
}

.header__logo img {
  height: 80px;
  overflow: hidden;
  margin-bottom: -8px;
  margin-left: -15px;
}

.header__dropdown {
  margin-left: -90px;
  font-size: 20px;
}

.header__profile img {
  height: 80px;
  width: auto;
  border-radius: 50%;
}

.dropdown-button {
  width: 194px;
  height: 40px;
}

.header__search input {
  width: 250px;
  height: 40px;
  margin-left: -60px;
  margin-bottom: -2px;
  font-size: 20px;
}

.header__icons {
  margin-bottom: -10px;
  margin-right: -40px;
}

.talk-icon {
  margin-right: 45px;
}

.header__profile {
  display: flex;
  align-items: center;
  margin-right: -40px;
  color: #ffffff;
}

.header__profile span {
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 30px;
}

.header__icons img {
  width: 35px;
  height: auto;
}

.header__auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}

.header__dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
  margin-left: -20px;
}

.select-label {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding-bottom: 3px;
  margin-left: -93px;
}

.dropdown-content {
  width: 194px;
}

.dropdown-content #search {
  width: 194px;
  margin-left: -1px;
}