.park-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.park-header h1 {
  color: #ffffff;
}

.new-park {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-park-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  text-align: right;
}

.new-park h1 {
  color: #ffffff;
}