.park-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-park {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-park-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}