.posted-details h1 {
  font-size: 45px;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#error_explanation {
  color: #ff6565;
}

.post-park {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.post-title {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

#title-input {
  width: 650px;
}

#title-count {
  position: absolute;
  top: 3px;
  right: 4px;
}

.post-create {
  text-align: right;
  font-size: 30px;
  margin-top: 10px;
}

.post-btn {
  background-color: #989898;
  border-bottom: 5px solid #cecece;
}

.post-btn:hover {
  margin-top: 3px;
  background: #898989;
  border-bottom: 2px solid #cecece;
}

.posted-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 75%;
  margin: 5px auto;
  border: 2px solid #9d9d9d;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
}

.posted-details .posted-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.posted-details .posted-header h2 {
  margin-right: 10px;
  margin-left: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.comment_content {
  width: 800px;
  border: 1px solid #cecece;
  padding: 10px;
}

.posted-header .posted-info {
  margin-top: 30px;
}