.user-detail {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 30px;

  .posts {
    width: 640px;
    margin-right: 20px;

    .post {
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
      height: 300px;
      overflow-y: auto;

      .post-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .post-park,
        .post-user {
          text-decoration: none;
          color: white;  // Change to white
        }
      }

      .post-title {
        font-size: 20px;
        margin-bottom: 20px;
      }

      .post-content {
        font-size: 16px;
      }

      .comments {
        h3 {
          margin-top: 20px;
        }

        .comment {
          border-top: 1px solid #ccc;
          padding-top: 20px;
        }
      }
    }
  }

  .profile {
    width: 300px;
    height: 600px;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

    .avatar {
      width: 100%;
      height: auto;
    }

    .nickname {
      font-size: 24px;
      margin-top: 20px;
      text-align: center;
    }

    .username {
      font-size: 20px;
      margin-top: 10px;
      text-align: center;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
    }
  }
}