<main class="content">
    <% if user_signed_in? %>
        <%= link_to '新規投稿', new_post_path, class: 'content__new-post-button' %>
    <% end %>
    <div class="content__post-list">
        <div class="post">
            <!-- Post content here -->
        </div>
        <!-- More posts -->
    </div>
</main>