<main class="content">
    <button class="content__new-post-button">Create New Post</button>
    <div class="content__post-list">
        <div class="post">
            <!-- Post content here -->
        </div>
        <!-- More posts -->
    </div>
</main>