<div class='footer'>
  <div class='codenyan-contents'>
    <div class='codenyan-details'>
      <h2 class='footer-content-head'>CODENYANについて</h2>
      <ul class='footer-list'>
        <li>会社概要（運営会社)</li>
        <li>プライバシーポリシー</li>
        <li>CODENYAN利用規約</li>
      </ul>
    </div>
    <div class='codenyan-details'>
      <h2 class='footer-content-head'>CODENYANについて</h2>
      <ul class='footer-list'>
        <li>codenyanガイド</li>
        <li>codenyan利用ガイドライン</li>
        <li>お知らせ</li>
      </ul>
    </div>
  </div>
  <div class='footer-bottom'>
    <p>© CODENYAN</p>
  </div>
</div>